.hero {
  max-width: 1600px;
  background-color: var(--second-background-color);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(30deg, rgba(47, 48, 58, 0.8), rgba(0, 0, 0, 0.1)),
    url('../.././images/imgOvrMb.jpg');
  @include retina {
    background-image: linear-gradient(30deg, rgba(47, 48, 58, 0.8), rgba(0, 0, 0, 0.1)),
      url('../.././images/imgOvrMb@2x.jpg');
  }
  @include tablet {
    background-image: linear-gradient(30deg, rgba(47, 48, 58, 0.8), rgba(0, 0, 0, 0.1)),
      url('../.././images/imgOvrTb.jpg');
    @include retina {
      background-image: linear-gradient(30deg, rgba(47, 48, 58, 0.8), rgba(0, 0, 0, 0.1)),
        url('../.././images/imgOvrTb@2x.jpg');
    }
  }
  @include desktop {
    background-image: linear-gradient(30deg, rgba(47, 48, 58, 0.8), rgba(0, 0, 0, 0.1)),
      url('../.././images/imgOvrDsk.jpg');
    @include retina {
      background-image: linear-gradient(30deg, rgba(47, 48, 58, 0.8), rgba(0, 0, 0, 0.1)),
        url('../.././images/imgOvrDsk@2.jpg');
    }
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .hero__body {
    display: flex;
    justify-content: center;
    padding: 60px 15px;
    @media screen and (min-width: 480px) and (max-width: 1199px) {
      padding: 118px 0;
    }
    @include desktop {
      padding: 200px 0;
    }
  }
  .hero__content-container {
    @media screen and (min-width: 480px) and (max-width: 1199px) {
      width: 360px;
    }
    @include desktop {
      width: 696px;
    }
    text-align: center;
  }
  .hero__title {
    display: block;
    margin-bottom: 30px;
    font-style: normal;
    @include pre-desktop {
      @include text(900, 26px, calc(42 / 26), 0.06em, #ffffff);
    }
    @include desktop {
      @include text(900, 44px, calc(60 / 44), 0.06em, #ffffff);
    }
    text-transform: uppercase;
  }
}
.button-send.hero__open-button {
  transition: box-shadow 250ms linear;
  padding: 10px 32px;

  &:hover {
    background-color: #188ce8;
    box-shadow: -1px -1px 1px rgba(250, 246, 245, 0.945), 1px 1px 1px rgba(250, 246, 245, 0.945),
      -1px 1px 1px rgba(250, 246, 245, 0.945), 1px -1px 1px rgba(250, 246, 245, 0.945);
  }
  &:active {
    box-shadow: inset -1px -2px 1px rgba(31, 37, 39, 0.945),
      inset 1px 2px 1px rgba(31, 37, 39, 0.945), inset -1px 2px 1px rgba(31, 37, 39, 0.945),
      inset 1px -2px 1px rgba(31, 37, 39, 0.945);
  }
}
