.card-list {
  @extend %list;
  .card-list__item:not(:last-child) {
    @include pre-tablet {
      margin-bottom: 30px;
    }
  }
  @include post-tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
